
html,
body {
  
  background-color: rgb(34, 33, 33);
  padding: 0;
  
  margin: 0;
  overflow: hidden;
  

  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}


.uppermid {
  
  
  justify-content: center;
  align-items: center; 
  width: 1080px;
  
}


.tabdiv {
    display: block; 
    margin-left:auto;
    margin-right:auto; 
    font-size: 0.75rem;
    justify-content: center;
    align-items: center; 
    width: 75%; 
    height: 3.5rem; 
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.sf {
  
  width: 80%;
}






/* -------------- */



.navb {
    
    align-items: center; 
    height: 8rem; 
    
    width:100%;
    
}

.title {
   
  display: flex; 
    
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width:1200px;
    max-height: 8rem;
    /* background-color : #ffffff; */
}



.bodd {
    display: flex; 
    font-size: 0.92rem;
    line-height: 1.75rem; 
    flex-direction: column; 
    flex-wrap: wrap; 
    align-items: center; 
    margin-top:10rem;
    
    @media (min-width: 768px) { 
      flex-wrap: nowrap; 
    }
}

.bigtext {
  margin-bottom: 2rem; 
    margin-top: 6rem; 
    font-size: 3rem;
    line-height: 1rem; 
    font-weight: 500;

}


.twoway {
  display: flex; 
    margin-left: 1rem;
    margin-right: 1rem; 
    margin-bottom: 1rem; 
    margin-top: 2.5rem; 
    flex-direction: row; 

    flex-wrap: wrap; 
    max-width:980px;

    @media (min-width: 768px) { 
      flex-wrap: nowrap; 
    }
}

.lside {
  
  max-width:490px;
  text-align: left;
  
}


.rside {
  
  max-width:490px;
  text-align: left;

  
}

.ulist {
  margin-left: 1rem;
}

.upg {
  margin-top: 8rem;
  width: 1200px;
}


.aucend {
  display: block; 
  position: relative;
  
  
}


.tab{
  opacity: 0.7;
  height: 2.5rem;
  margin-left:07%;
}

.tab :hover {
opacity: 1;

}

.active-tab{
text-decoration: underline;
width: 33%;

margin-left:07%;
}


.content{
  display: none;
}

.active-content{
  display: flex;
  
    justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}


.end {
  display: block; 
  align-items: center; 
  margin-right: auto;
  margin-left: auto;
  height: 8rem; 
  margin-top: 2rem;

}


.foot {
  display: flex; 
padding-left: 1.25rem;
padding-right: 1.25rem; 
justify-content: center; 
align-items: center; 
left: 20rem;
}



.cc {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  text-align: center;
  scroll-snap-type: y mandatory;
  scroll-padding: 10px;
  overflow-y: scroll;
}



.card-image {
  width: 200px;
  height: 120px;
  
}

.cardimgtext {
  height: 140px;
  width: 200px;
}

.page-wallet {
  top: 10rem;
}




.box-out {
  width: 20%;
  margin: 2rem 1rem;
  height: 20rem;
  font-size: 0.5rem;
  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.box-in {

}


.he3 {
  display: block;
  
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}


.conl {
  left: 5px;
}

.he2 {
  display: block;
}

.longadd {
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}